<p id="notice"><%= notice %></p>

<p>
  <b>F name:</b>
  <%= @user.f_name %>
</p>

<p>
  <b>L name:</b>
  <%= @user.l_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Birth year:</b>
  <%= @user.birth_year %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Profession:</b>
  <%= @user.profession %>
</p>

<p>
  <b>Image:</b>
  <%= @user.image %>
</p>

<p>
  <b>Area:</b>
  <%= @user.area %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>District:</b>
  <%= @user.district %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country %>
</p>

<p>
  <b>Postal:</b>
  <%= @user.postal %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
