<div class="alert alert-info">
    <h1>Profile</h1>
</div>

<div class="media span6 offset2 thumbnail" style="height:450px;">
    <h2 class="media-heading" style="margin-left:20px;"><%= @user.f_name.to_s + ' ' + @user.l_name.to_s %></h2>
    <a class="pull-left" style="margin-top:10px;margin-left:20px;" href="#">
        <%= image_tag @user.image_url(:thumb).to_s, :class => 'thumbnail', :style => 'width:100px; height:100px' %>
    </a>
    <div class="media-body">

        <div style="height:340px;">

            <table class="table table-hover offset1 contact" style="font-size:14px;">
                <legend class="contact">Contact Information</legend>
                <tr><th>Email</th><td> : </td><td><%= @user.email %></td></tr>
                <tr><th>Phone</th><td> : </td><td><%= @user.phone %></td></tr>
                <tr><th>Area</th><td> : </td><td><%= @user.area %></td></tr>
                <tr><th>District</th><td> : </td><td><%= @user.district %></td></tr>
                <tr><th>City</th><td> : </td><td><%= @user.city %></td></tr>
                <tr><th>Postal</th><td> : </td><td><%= @user.postal %></td></tr>
                <tr><th>Country</th><td> : </td><td><%= @user.country %></td></tr>

            </table>

            <table class="table table-hover offset1 personal" style="font-size:14px;">
                <legend class="personal">Personal Information</legend>
                <tr><th>Born</th><td> : </td><td><%= @user.birth_year %></td></tr>
                <tr><th>Gender</th><td> : </td><td><%= @user.gender %></td></tr>
                <tr><th>Profession</th><td> : </td><td><%= @user.profession %></td></tr>
                <tr><th>Username</th><td> : </td><td><%= @user.username %></td></tr>

            </table>

        </div>

        <button class="btn btn-primary pull-left" onClick="move(); return false;" style="margin-top:15px; margin-right:10px;"><</button>
        <button class="btn btn-primary pull-right" onClick="move(); return false;" style="margin-top:15px; margin-right:10px;">></button>

    </div>
</div>

<script type="text/javascript">

  $( document ).ready(function() {
    $(".personal").hide();
  });

  function move(){

    $(".personal").toggle('fast');
    $(".contact").toggle('fast');

  }

</script>