<div class="span12 row-fluid">
	<div class="span12 bg_color" style="height:35px; margin-bottom:0;">
	</div>
	<div>
		<div class="span2 row-fluid">
			<%= image_tag 'logo.png', :style => "margin-top: -8px;height:250px;" %>
		</div>
		<div class="span5 offset1 login" style="margin-top:5%;">
			<h1>Get What You Want</h1>
			<h1>Get It Now !!!</h1>
		</div>
		<div style="float:right;width:237px;">
			<fieldset>
				<center><legend><h3>Login</h3></legend></center>
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal'}) do |f| %>
					<%= devise_error_messages! %>
					<div class="span12">
						<div class="login">
							<%= f.text_field :username, :placeholder => 'Username', :style => 'width:215px;' %>
						</div>
						<div class="login">
							<%= f.password_field :password, :placeholder => 'Password', :style => 'width:150px;' %>
							<%= f.submit 'Login', :class => 'btn btn-success' %>
						</div>
					</div>
					<div class="span12">
					  <% if devise_mapping.rememberable? -%>
					      <div class="login span6" style="width:100px;">
					      	<%= f.check_box :remember_me %>
					      	<%= f.label :remember_me, :style => 'font-size:12px; float:right;margin-top:3px;' %>
					      </div>
				    	<% end -%>
				    	<div class="login span5" style="width:100px;margin-left:15%; margin-top:1.2%;" >
				    			<%= render "devise/shared/links" %>
				    	</div>
				    </div>
				<% end %>
			</fieldset>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div>
		<div style="float:left;width:237px;margin-top:10px;position:absolute;">
			<fieldset>
				<h4><strong style="font-size:30px;">Explore</strong> A Whole New World Of Opportunities.</h4>
				<center><legend style="margin-top:15%;"><h1>Sign Up!</h1></legend></center>
				<%= form_tag('/users/signup', :method => 'post', :class => 'form-horizontal', :style => 'margin-top: 5%;') do |f| %>
					<%= devise_error_messages! %>
					<div class="span12">
						<div class="signup">
							<%= email_field_tag :email, nil, :placeholder => 'Email Address', :style => 'width:215px;' %>
						</div>
						<div class="signup">
							<%= text_field_tag :username, nil,:placeholder => 'Username', :style => 'width:215px;' %>
						</div>
						<div class="signup">
							<%= password_field_tag :password, nil,:placeholder => 'Password', :style => 'width:215px;' %>
						</div>
						<div class="signup">
							<%= submit_tag 'Sign Up', :class => 'btn btn-success' %>
						</div>
					</div>
				<% end %>
			</fieldset>
		</div>
		<div class="carousel slide span8" style="float:right; margin-top:10px; margin-right:5px;" id="myCarousel">
			<div class="carousel-inner">
				<div class="item active">
					<%= image_tag 'theater-1.jpg' %>
					<div class="carousel-caption">
						<h4>First Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
				<div class="item">
					<%= image_tag 'theater-2.jpg' %>
					<div class="carousel-caption">
						<h4>Second Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
				<div class="item">
					<%= image_tag 'theater-1.jpg' %>
					<div class="carousel-caption">
						<h4>Third Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
			</div>
			<a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
			<a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
		</div>
	</div>
	<div style="clear:both;"></div>
<script type="text/javascript">
	$(function(){
		$(".carousel").carousel();
	});
</script>
</div>