<%= form_for @item, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset style="margin-left:0;" id="p_info">

    <legend>Item Details</legend>

    <div class="control-group">
      <%= f.label :name, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, 'Description', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :category %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :rating, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :rating %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :image, 'Photo', :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image %>
      </div>
    </div>
    <div class="control-group">
      <%= f.submit 'Submit', :class => 'btn btn-success' %>
    </div>
  </fieldset>  
<% end %>
