<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
	    <a class="brand" href="/">Barter</a>
	    <ul class="nav">
		    <li class="<%= 'active' if @page == 'home' %>"><a href="/home/">Home</a></li>
		    <% if user_signed_in? %>
		    	<li class="<%= 'active' if @page == 'profile' %>"><a href="/users/<%= current_user.id %>/">Profile</a></li>
		    <% else %>
		    	<li class="<%= 'active' if @page == 'register' %>"><a href="/users/new/">Register</a></li>
		    <% end %>
		    <li class="<%= 'active' if @page == 'about' %>"><a href="/about/">About</a></li>
		    <li class="<%= 'active' if @page == 'contact' %>"><a href="/contact/">Contact</a></li>
		    <li class="<%= 'active' if @page == 'login' %>"><% if user_signed_in? %><a href="/users/logout">Logout<% else %><a href="/users/login">Login<% end %></a></li>
	    </ul>
    </div>
</div>